Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
SPARQLWrapper==1.6.4
Werkzeug==0.9.6
execnet==1.2.0
gunicorn==19.1.1
html5lib==0.999
isodate==0.5.1
itsdangerous==0.24
mercurial==3.0
pep8==1.5.7
py==1.4.26
pyflakes==0.8.1
pyparsing==2.0.3
pytest==2.6.4
pytest-cache==1.0
pytest-flakes==0.2
pytest-pep8==1.0.6
rdflib==4.1.2
six==1.8.0
wsgiref==0.1.2
